@model Ordering_UI.ViewModel.DashboardVM

@{
    ViewBag.Title = "Home Page";
}

@if (Model.LoggedInUser != null)
{
    <span>Hello: @Model.LoggedInUser.Firstname  @Model.LoggedInUser.Lastname </span>
}

<h1>Cleverbit Ordering</h1>

@if (Model.CurrentProduct != null)
{
    @if (Model.CurrentProduct.IsPopular == 1)
    {
        <div class="banner">
            Popular Product
        </div>
    }
    <div>
        <h2>Product</h2>

        <div class="container">
            <span>Name: </span>
            <span> @Model.CurrentProduct.Name</span>
        </div><br />
        <div class="container">
            <span>Price: </span>
            <span> @Model.CurrentProduct.Price</span>
        </div><br />

        <button class="btn btn-default">Order Now!</button>
    </div>
}
